<p>
    This is content from "Message" partial file. <br />
    Product Full: <strong>{{ vars.product_full}}</strong><br />
    Product Short: <strong>{{ vars.product_short}}</strong><br />
    Current Page Title: <strong>{{ current_page.data.title }}</strong><br />
</p>