<p>

This is a partial with mixed content (<strong>HTML</strong>, **Markdown** and <strong>Ruby<strong> snippets)

Product Full Name from variable: **<%= vars.product_full %>**

Current Page Title: **<%= current_page.data.product_full %>**

</p>