<p>

This is a partial with mixed content (<strong>HTML</strong>, **Markdown** and <strong>Ruby</strong> snippets)

    <p>

    Product Full Name from variable:

    ```
        <%= vars.product_full %>
    ```

    Result: **<%= vars.product_full %>**

    </p>

</p>