<p>

This is a partial with mixed content (<strong>HTML</strong>, **Markdown** and <strong>Ruby</strong> snippets)

<p>

Product Full Name from variable:

<pre class="temrinal">
    <code>
        <%= vars.product_full %>
    </code>
</pre>

Result: <%= vars.product_full %>

</p>

</p>