<h1>HTML only with ERB syntax</h1>

<p>
    This is a <strong>\<%= vars.product_full %></strong> value from variables
<div>
    Product Full:
    <strong><%= vars.product_full %></strong>
</div>
</p>


Partial with HTML, MD and Ruby:

<%= partial 'ruby.html' %>
