<h1>HTML only with Handlebars syntax</h1>

<p>
    This is a <strong>\{{ vars.product_full }}</strong> value from variables
<div>
    <strong>{{ vars.product_full }}</strong>
</div>
</p>

{{> disclaimer }}