<h1> Untranslatable ERB syntax</h1>

<%= if someexpression %>
if statement
<% elseif another expression %>

<% end %>


## Another unknown ERB helper

<%= unknown_helper %>
   unknown helper body
<% end %>