<h1>HTML and Video Handlebars syntax</h1>

<p>
    This is a <strong>\{{ vars.product_full }}</strong> value from variables
<div>
    <strong>{{ vars.product_full }}</strong>
</div>
</p>

{{ video_tag videoId="ref:video_vsphere67_licenses" }}