<h1>HTML only with ERB syntax</h1>

<p>
    This is a <strong>\<%= vars.product_full %></strong> value from variables
<div>
    <strong><%= vars.product_full %></strong>
</div>
</p>

<p>
    Calling partial with the double quotes>
    <%= partial "message.html" %>
</p>

<br/>

<p>
    Calling partial with the single quotes>
    <%= partial 'message.html' %>
</p>